@charset "utf-8";
/* CSS Document */

body{
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #BEA9E9;
	background: url(../img/1.jpg) repeat;
}
/*
.search-btn{
	position:inherit;
	font-weight:100px;
	
	
	}
	#navbarSupportedContent{
		font-style:oblique;
		font-family:"Lucida Grande";
		font-size-adjust:inherit;
	}*/
	
	header{
	   left:0px;
	   position:absolute;
	   top:0px;
	   width:100%;
	   z-index:11;
	    }
	.main-menu-area{}
	.logo{
		margin-top:10px;
		margin-left:100px;
		transition: all 0.3s ease 0s;
		}
	.sticky.logo{
		margin-top:10px;
		margin-left:150px;
		color:#fff;
		}
	.logo a{
		display:inline-block;
		
		}
	.sticky.logo a{
	    color:#fff;
		
		}
	.main-menu{}
	.main-menu ul{}
	.main-menu ul li{
		display:inline-block;
		}
	.main-menu ul li a{
		color:#444444;
		display:block;
		font-weight:500;
		padding: 30px 20px;
		text-transform:capitalize;
		}
		header.sticky{
			background:#20113d;
			position: fixed;
			
		}
			
		.sticky .main-menu ul li a{
			padding: 15px 20px;
			color:#fff;
				
			}
		
		
		
		
		.single-slider{
		 height:100vh;
		 
		}
		.slide-title{
			display:table;
			height:100%;
			text-align:center;
			width:100%;
	    }
		.d-table-cell{
			display:table-cell;
			vertical-align:middle;
			
			}
		.d-table-cell h2 {
				
			color:#ffffff;
		    font-weight:500;
			}
			
		.d-table-cell p {
			color:#ffffff;
			text-align:center;
				}